a {
  text-decoration: none;
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}
section {
  margin: 0 5%;
}
